@import url('./App.css');

.row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  height: auto;
  column-gap: 15px;
}

.game-box {
  width: 12vh;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: #222;
  border: 1px solid white;
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.447),
    -2px -2px 2px rgba(255, 255, 255, 0.447);
}

.box-number {
  font-size: 48px;
  margin: 0;
  color: white;
}

.correct {
  background-color: var(--correct-color);
  border: transparent;
}

/* Mobile devices - screens smaller than 768px */
@media (max-width: 768px) {
  .game-box {
    width: 11vh;
    height: 11vh;
  }
  .row-container {
    column-gap: 2px;
  }
}

@media (max-width: 480px) {
  .game-box {
    width: 8vh;
    height: 8vh;
  }
  .row-container {
    column-gap: 0px;
  }
}

@media (max-height: 480px) {
  .game-box {
    transform: translateY(-40px);
    width: 5vh;
    height: 5vh;
  }
}
