@import url('./App.css');

.row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  height: auto;
  column-gap: 15px;
  row-gap: 15px;
}

.game-box {
  width: 12vh;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: transparent;
  border: 0.5px solid rgba(105, 105, 105, 0.377);
  font-family: 'CustomFont';
  font-weight: bold;
}

.correct {
  background-color: var(--correct-color);
  border: transparent;
}

/* Mobile devices - screens smaller than 768px */
@media (max-width: 768px) {
  .game-box {
    width: 11vh;
    height: 11vh;
  }
  .row-container {
    column-gap: 2px;
  }
}

@media (max-width: 480px) {
  .game-box {
    width: 8vh;
    height: 8vh;
  }
  .row-container {
    column-gap: 0px;
  }
}

@media (max-height: 480px) {
  .game-box {
    transform: translateY(-40px);
    width: 5vh;
    height: 5vh;
  }
}
