@import url("./BoxRow.css");

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  z-index: 0;
}

.box-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
}

.mobile-controls-row {
  display: none;
}

.input-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
}

.input-box span {
  font-size: 90px;
  text-align: center;
  font-weight: bolder;
  color: white;
}

.status-message {
  font-size: 24px;
  text-align: center;
}

.newgame_button {
  font-size: 24px;
  margin-top: 10px;
}

.newgame_button:hover {
  background-color: var(--dark-gray);
}

.arrowbox {
  font-size: 24px;
  text-align: center;
  background-color: rgb(25, 25, 25);
  border-radius: 12px;
}

.mobile-arrow-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.mobile-arrow-controls div {
  display: flex;
  gap: 10px;
}

.mobile-arrow-controls button {
  padding: 12px 18px;
  font-size: 1.4rem;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
  border: none;
}

.mobile-arrow-controls button:hover {
  background-color: var(--primary-color-dark);
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.mobile-controls {
  display: none;
}

.stats .stratagem-icon {
  width: 80px;
  height: 80px;
}

.stats .stratagem-icon:hover {
  border: 1px solid white;
  scale: 1;
  cursor: default;
}

.hide-desktop {
  display: none;
}

.hide-mobile {
  display: flex;
}

.arrow-button {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
}

@media (max-width: 769px) {
  .mobile-controls-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .side-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .mobile-arrow-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .mobile-arrow-controls .row {
    display: flex;
    gap: 10px;
  }

  .mobile-arrow-controls .top-row {
    justify-content: center;
  }

  .mobile-arrow-controls .bottom-row {
    justify-content: center;
  }

  .mobile-arrow-controls button {
    padding: 12px 18px;
    font-size: 1.4rem;
    border-radius: 8px;
    cursor: pointer;
    border: solid;
  }

  .button.is-primary {
    background-color: var(--primary-color);
    color: white;
  }

  .button.is-primary:hover {
    background-color: var(--primary-color-dark);
  }

  .button.is-warning {
    background-color: var(--dark-gray);
    color: #fff;
    border: 3px solid white;
    width: 50px;
    height: 50px;
    padding: 12px;
  }

  .is-select {
    background-color: #7b752e;
    color: white;
    border: 3px solid yellow;
    width: 50px;
    height: 50px;
    padding: 12px;
  }

  .button.is-warning:hover {
    background-color: #ec971f;
  }

  .button.is-danger {
    background-color: #d9534f;
    color: white;
  }

  .button.is-danger:hover {
    background-color: #c9302c;
  }

  .input-box {
    width: 40px;
    height: 40px;
  }

  .box-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
  }

  .hide-desktop {
    display: flex;
  }

  .hide-mobile {
    display: none;
  }
}

@media (max-height: 600px) {
  .input-box {
    width: 70px;
    height: 70px;
  }
}

@media (max-height: 568px) {
  .input-box {
    width: 60px;
    height: 60px;
  }
}

@media (prefers-color-scheme: light) {
  .input-box span {
    color: black;
  }
}
